a.nav-link.text-secondary img {
  max-height: 35px;
  max-width: 100px;
}
.spotifyLogo {
  width: 100%;
}

a.nav-link.text-secondary {
  margin: 0px;
}

#playlistLikes {
  margin-top: 0.5em;
}

/* nav.flex-column {
  margin-left: 2em;
} */

.installAppBtn {
  margin-top: 0.5em;
}

#sidebar {
  background-color: #101010;
  width: 232px;
  height: calc(100vh - 40px);
  overflow-y: hidden;
}

#sidebarTracks {
  overflow-y: scroll;
}
ul.list-unstyled li {
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2rem;
}
